#!/bin/ksh

#**************************************************************
# Author: Patrick Brockmann
# Contact: Patrick.Brockmann@ipsl.jussieu.fr
# $Date: 2011/09/12 12:17:53 $
# $Name: ATLAS_672_1_1 $
# $Revision: 1.1.1.11 $
# History:
# Modification:
#
#**************************************************************

input=$@
paper=-p
frequency=1:12:6
your_reference_file=/directory/file.nc

#----------------------
echo $input | ferretloop - $paper -r $your_reference_file -s $frequency -i "Sea Surface Temperature" -o votemper ORCA4_2variables1diff_map_cylin.jnl '"Sea Surface Temperature" inputfile votemper[k=1,l=sloop] referencefile votemper[k=1,l=sloop] /lev=(-INF)(-1,31,1)(INF) /pal=fast_002_rev.spk/lev=(-INF)(-8,8,1)(INF) ORCA4.0_continents'

#----------------------
echo $input | ferretloop - $paper -r $your_reference_file -s $frequency -i "Sea Surface Temperature (polar views)" -o votemper ORCA4_2variables1diff_map_ortho_2.jnl '"Sea Surface Temperature" inputfile votemper[k=1,l=sloop] referencefile votemper[k=1,l=sloop] /lev=(-INF)(-2,20,1)(INF) /pal=fast_002_rev.spk/lev=(-INF)(-8,8,1)(INF) ORCA4.0_continents'

#----------------------
echo $input | ferretloop - $paper -r $your_reference_file -s $frequency -i "Sea Surface Salinity" -o vosaline ORCA4_2variables1diff_map_cylin.jnl '"Sea Surface Salinity" inputfile vosaline[k=1,l=sloop] referencefile vosaline[k=1,l=sloop] /lev=(-INF)(28,32,2)(32.5,38,0.5)(40)(INF) /pal=fast_002_rev.spk/lev=(-INF)(-5,5,0.5)(INF) ORCA4.0_continents'

#----------------------
echo $input | ferretloop - $paper -r $your_reference_file -s $frequency -i "Sea Surface Salinity (polar views)" -o vosaline ORCA4_2variables1diff_map_ortho_2.jnl '"Sea Surface Salinity" inputfile vosaline[k=1,l=sloop] referencefile vosaline[k=1,l=sloop] /lev=(-INF)(27,37,0.5)(INF) /pal=fast_002_rev.spk/lev=(-INF)(-5,5,0.5)(INF) ORCA4.0_continents'
