#!/bin/ksh

#**************************************************************
# Author: Patrick Brockmann
# Contact: Patrick.Brockmann@ipsl.jussieu.fr
# History:
# Modification:
#
#**************************************************************

input=$@
paper=-p
frequency=3:12:6

#----------------------
echo $input | ferretloop - $paper -s $frequency -i "Mixed Layer Depth 0.01" -o somxl010 1variable_mapcylinmaportho2.jnl 'inputfile ORCA2.0 somxl010[k=1,l=sloop] /lev=(-INF)(50)(100,1000,100)(1000,4000,500)(INF) ORCA2.0_continents'

#----------------------
echo $input | ferretloop - $paper -s $frequency -i "Ice Cover" -o soicecov 1variable_mapcylinmaportho2.jnl 'inputfile ORCA2.0 soicecov[k=1,l=sloop] /lev=(-INF)(0,1,0.05)(INF) ORCA2.0_continents'

#----------------------
echo $input | ferretloop - $paper -i "Sea Surface Temperature 2N-2S" -o sosstsst ORCA2_1variable_1eq.jnl 'inputfile sosstsst-sosstsst[L=@AVE] /pal=white_thin_centered/key/lev=(-INF)(-3,3,0.25)DEL(0)(INF) FILL/LINE X=20:380'

